.modal {
    display: none;
    border-radius: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    border: 2px solid rgba(178, 209, 255, 0.1),;
    transform: translateX(-50%) translateY(-50%);
    @include adaptive-padding(80);
    background-image: url(../images/modal-bg.png);
    background-repeat: no-repeat;
    background-size: cover;

    &__title {
        text-align: center;
        color: rgb(255, 255, 255);
        @include adaptive-font(24);
        font-weight: 700;
        @include adaptive-lineHeight(28);
        @include adaptive-marginBottom(1);
    }

    &__text {
        text-align: center;
        color: rgb(194, 218, 255);
        @include adaptive-font(1);
        font-weight: 400;
        @include adaptive-lineHeight(30);
    }

    &__btn {
        position: absolute;
        top: 26px;
        right: 30px;
    }
}

@supports (background-image: url(../images/modal-bg.webp)) {
    .modal {
        background-image: url(../images/modal-bg.webp);
    }
}

@media (max-width: 650px) {
    .modal {
        width: 70vw;
    }
}

@media (max-width: 400px) {
    .modal {
        width: 90vw;
    }
}