html,
body {
    overflow-x: hidden;
    height: 100%;
    background-color: #000;
    color: #fff;
    font-family: "Lato", sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
}

@supports (background-image: url(../images/background.webp)) {
    .wrapper {
        background-image: url(../images/background.webp);
    }
}

.main {
    flex: 1 0 auto;
    display: flex;
    align-items: center;
}

.container {
    width: 91.6%;
    margin: 0 auto;
}

.link {
    position: relative;
    text-decoration: none;
    overflow: hidden;

    &::before {
        content: '';
        position: absolute;
        bottom: -1px;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: #4E95FF;
        transition: transform 0.3s ease;
        transform: scaleX(0);
        transform-origin: bottom right;
    }

    &:hover::before {
        transform: scaleX(1);
        transform-origin: bottom left;
    }
}